[submodule "Ayo/vendor/spdlog"]
	path = Ayo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ayo/vendor/glfw"]
	path = Ayo/vendor/glfw
	url = https://github.com/bannified/glfw
[submodule "Ayo/vendor/ImGui"]
	path = Ayo/vendor/ImGui
	url = https://github.com/bannified/imgui
[submodule "Ayo/vendor/glm"]
	path = Ayo/vendor/glm
	url = https://github.com/g-truc/glm
